@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.App {
  font-family: "Roboto", sans-serif;
}
.App .tickets {
  height: 100vh;
  margin: 20px;
}
.App .tickets .all-tickets {
  width: 100%;
  flex: 1;
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.App .tickets .all-tickets .ticket {
  background-color: #f0a3bc;
  display: block;
  width: 200px;
  height: 300px;
  margin: 10px 20px;
  margin-left: 0;
  flex-shrink: 0;
  border-radius: 15px;
  border: 0.125em solid #1A1A1A;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  font-size: auto;
  color: #397754;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.App .tickets .all-tickets .ticket button {
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  cursor: pointer;
  width: 30%;
  height: 10%;
  font-size: 20px;
}
.App .tickets .all-tickets .ticket .label {
  color: #1A1A1A;
}